{% load static %}
{% for item, financas in financeiro.items %}
            <div class="main-financeiro__total">
                <p class="main-financeiro__label">Total do período:</p>
                <p class="main-financeiro__total_paragrafo">{{financas.total}}</p>
            </div>
        <div class="main-financeiro__media">
            <p class="main-financeiro__label">Média:</p>
            <select class="main-financeiro__grafico_select_media" name="media" id="media">
                <option value="4">Por Mes</option>
                <option value="1">Por Atividade</option>
                <option value="2">Por Hora Trabalhada</option>
                <option value="3">Por Dia Trabalhado</option>
            </select>
            <p class="main-financeiro__total_paragrafo" id="media_mes">{{financas.media_mes}}</p>
            <p class="main-financeiro__total_paragrafo hidden_edit" id="media_atividade">{{financas.media_atividade}}</p>
            <p class="main-financeiro__total_paragrafo hidden_edit" id="media_hora">{{financas.media_hora}}</p>
            <p class="main-financeiro__total_paragrafo hidden_edit" id="media_dia_trab">{{financas.media_dia_trab}}</p>
        </div>
        {% endfor %}
        <div class="main-financeiro__grafico">
            <p class="main-financeiro__label">Total por:</p>
            <select class="main-financeiro__grafico_select" name="grafico_select" id="grafico_select">
                <option value="1">Instituição</option>
                <option value="2">Tipo de Atividade</option>
                <option value="3">Mês</option>
            </select>
            <canvas class="main-financeiro__grafico_grafico" id="grafico"></canvas>
        </div>
</div>