{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/aside.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Cadastro de Plantões e Atividades</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body>
    <header class="header">
        {% for message in messages %}
            <div>
                <p id="messages">{{message}}</p>
            </div>
        {% endfor %}                
        <div class="header-cabecalho">
            <img class="header-cabecalho-imagem" src="{% static 'assets/imagem/logo.png' %}" alt="Logo do CPAS">
            <div class="header-cabecalho-lateral">
                <form action="{% url 'buscar' %}" id="headerFormPesquisa" class="header-cabecalho-form">
                    <input type="text" id="pesquisa" name="buscar" class="header-cabecalho_pesquisa">
                </form>
                <h1 class="header-cabecalho-titulo">CADASTRO DE PLANTÕES E ATIVIDADES</h1>
            </div>
        </div>        
        <div class="header-menu">
            <input type="checkbox" id="menu" class="header-menu__checkbox">
            <label for="menu" class="header-menu__rotulo">
                <spam class="header-menu__hamburguer"></spam>
            </label>
            <ul class="header-lista">
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'index' %}">Atividades</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'nova_atividade' %}">Add Atividades</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'instituicoes' %}">Instituições</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'financeiro' %}">Financeiro</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'rotina' %}">Rotina</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'calendario' %}">Calendário</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'configuracoes' %}">Configurações</a>
                </li>
                <li class="header-lista__item">
                    <a class="header-lista__item_link" href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
            <h2 class="header-menu__subtitulo">CPAS</h2>
            <input type="checkbox" id="ck_pesquisa" class="header-menu__checkbox_pesquisa">
            <label for="ck_pesquisa" class="header-menu__rotulo_pesquisa">
                <img class="header-menu__imagem_pesquisa" src="{% static 'assets/icones/lupa_branco.png' %}" alt="Icone de Lupa de Pesquisa">
            </label>
            <form action="{% url 'buscar' %}" id="headerFormPesquisa" class="header-menu__form_pesquisa_mobile">
                <input type="text" id="pesquisa" name="buscar" class="header-menu__input_pesquisa">
            </form>
        </div>
    </header>
    <aside class="menu-lateral">
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'index' %}">
                <img class="item__imagem" src="{% static 'assets/icones/atividade.png' %}" alt="Icone Atividades">
                <h2 class="item__tituto">Atividades</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'nova_atividade' %}">
                <img class="item__imagem" src="{% static 'assets/icones/add.png' %}" alt="Icone Add Atividades">
                <h2 class="item__tituto">Add Atividades</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'instituicoes' %}">
                <img class="item__imagem" src="{% static 'assets/icones/instituicao.png' %}" alt="Icone Instituição">
                <h2 class="item__tituto">Instituições</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'financeiro' %}">
                <img class="item__imagem" src="{% static 'assets/icones/financeiro.png' %}" alt="Icone Financeiro">
                <h2 class="item__tituto">Financeiro</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'rotina' %}">
                <img class="item__imagem" src="{% static 'assets/icones/rotina.png' %}" alt="Icone Rotina">
                <h2 class="item__tituto">Rotina</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'calendario' %}">
                <img class="item__imagem" src="{% static 'assets/icones/calendario.png' %}" alt="Icone Calendario">
                <h2 class="item__tituto">Calendário</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'configuracoes' %}">
                <img class="item__imagem" src="{% static 'assets/icones/configuracoes.png' %}" alt="Icone Configurações">
                <h2 class="item__tituto">Configurações</h2>
            </a>
        </div>
        <div class="menu-lateral__item">
            <a class="item__link" href="{% url 'logout' %}">
                <img class="item__imagem" src="{% static 'assets/icones/sair.png' %}" alt="Icone Sair">
                <h2 class="item__tituto">Sair</h2>
            </a>
        </div>
    </aside>
    {% block content %} {% endblock %}
    {% include 'partials/_footer.html' %}