@import url('aside.css');

.menu-lateral {
    display: none;
}

.item__link {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: flex-start;
    transition: transform 0.1s;
}

.item__link:hover {
    transform: scale(1.08);
}

.item__imagem {
    width: 40px;
    box-shadow: var(--sombra-primaria);
}

.item__tituto {
    color: var(--cor-fonte-terciaria);
    font-weight: bold;
    box-shadow: var(--sombra-primaria);
}

@media screen and (min-width:1200px){

    .menu-lateral {
        display: flex;
        flex-direction: column;
        margin: 5rem 2rem 2rem 3rem;
        gap: 3.5rem;
    }

}