{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <h2 class="main-titulo_calendario">CALENDÁRIO</h2>
        <select class="main-calendario__opcoes" id="opcoes" name="opcoes">
                <option value="agenda">Agenda</option>
                <option value="dia">Dia</option>
                <option value="semana">Semana</option>
        </select>
        <div id="agenda" class="main-calendario__agenda">
            {% for dia, detalhes in agenda.items %}
            {% if detalhes.mes %}
                <h3 class="main-agenda__cabecalho_titulo">{{detalhes.mes}}</h3>
            {% endif %}
            <div class="main-agenda">
                <div class="main-agenda__dia">
                    <p class="main-agenda__dia_texto">{{detalhes.sigla_dia}}</p>
                    <p class="main-agenda__dia_numero">{{detalhes.num_dia}}</p>
                </div>
                <div class="main-agenda__atividades">
                    {% for atividade in detalhes.lista_dia %}
                    <div class="main-agenda__atividades_atividade">
                        <p class="main-agenda__atividade_titulo">{{atividade.descricao}}</p>
                        <p class="main-agenda__atividade_sequencia">{{atividade.sequencia}}</p>
                        <p class="main-agenda__atividade_periodo">{{atividade.periodo}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="agenda_dia" class="display">
            <div class="main-dia__cabecalho">
                <input type="date" class="main-dia__cabecalho_data">
                <div class="main-dia__navegacao">
                    <button class="main-dia__botao" id="nextBtn_dia"><i class="fas fa-backward"></i></button>
                    <h3 class="main-dia__cabecalho_titulo">Sexta -  02 / Agosto</h3>
                    <button class="main-dia__botao" id="forwardBtn_dia"><i class="fas fa-forward"></i></button>
                </div>
            </div>
            <table class="main-tabela__dia">
                <tbody>
                    <tr>
                        <td class="main-tabela__dia__hora">1 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">2 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">3 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">4 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">5 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">6 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">7 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            <div class="main-tabela-dia__conteudo_atividade_1">
                                <p class="main-tabela-dia__conteudo_atividade_titulo">Plantão Dia - Hospital Ana Costa</p>
                                <p class="main-tabela-dia__conteudo_atividade_periodo">07:00 - 19:00</p>
                            </div>                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">8 AM</td>
                        <td class="main-tabela-dia__conteudo">
                                                        
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">9 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">10 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">11 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">12 AM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">1 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">2 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">3 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">4 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">5 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">6 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">7 PM</td>
                        <td class="main-tabela-dia__conteudo">
                    
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">8 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            <div class="main-tabela-dia__conteudo_atividade_2">
                                <p class="main-tabela-dia__conteudo_atividade_titulo">Aula - UNAERP</p>
                                <p class="main-tabela-dia__conteudo_atividade_periodo">20:00 - 22:00</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">9 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">10 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">11 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="main-tabela__dia__hora">12 PM</td>
                        <td class="main-tabela-dia__conteudo">
                            
                        </td>
                    </tr>
                </tbody>                           
            </table>
        </div>
        <div id="agenda_semana" class="display">
            <div class="main-semana__cabecalho">
                <button class="main-semana__botao" id="nextBtn_semana"><i class="fas fa-backward"></i></button>
                <h3 class="main-semana__cabecalho_titulo">Agosto</h3>
                <button class="main-semana__botao" id="forwardBtn_semana"><i class="fas fa-forward"></i></button>
            </div>
            <table class="main-tabela__semana">
                <thead>
                    <td class="main-tabela__semana_cabecalho"></td>
                    <td class="main-tabela__semana_cabecalho">D<br>28</td>
                    <td class="main-tabela__semana_cabecalho">S<br>29</td>
                    <td class="main-tabela__semana_cabecalho">T<br>30</td>
                    <td class="main-tabela__semana_cabecalho">Q<br>31</td>
                    <td class="main-tabela__semana_cabecalho">Q<br>01</td>
                    <td class="main-tabela__semana_cabecalho">S<br>02</td>
                    <td class="main-tabela__semana_cabecalho">S<br>03</td>
                </thead>
                <tbody>
                    <tr>
                        <td class="main-tabela__semana__hora">1 AM</td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">2 AM</td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">3 AM</td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">4 AM</td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">5 AM</td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">6 AM</td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">7 AM</td>
                        <td class="main-tabela-semana__conteudo">
                                                        
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo">
                            <div class="main-tabela-semana__conteudo_atividade_1">
                                <p class="main-tabela-semana__conteudo_atividade_titulo">Plantão Dia - Hospital Ana Costa</p>
                                <p class="main-tabela-semana__conteudo_atividade_periodo">07:00 - 19:00</p>
                            </div>
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">8 AM</td>
                        <td class="main-tabela-semana__conteudo">
                                                        
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">9 AM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">10 AM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">11 AM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">12 AM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">1 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">2 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">3 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">4 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">5 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">6 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">7 PM</td>
                        <td class="main-tabela-semana__conteudo">
                    
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">8 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo">
                            <div class="main-tabela-semana__conteudo_atividade_2">
                                <p class="main-tabela-semana__conteudo_atividade_titulo">Aula - UNAERP</p>
                                <p class="main-tabela-semana__conteudo_atividade_periodo">20:00 - 22:00</p>
                            </div>
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">9 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">10 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">11 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                    <tr>
                        <td class="main-tabela__semana__hora">12 PM</td>
                        <td class="main-tabela-semana__conteudo">
                            
                        </td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                        <td class="main-tabela-semana__conteudo"></td>
                    </tr>
                </tbody>                           
            </table>
        </div>
    </main>
{% endblock %}