@import url('style.css');

.main-titulo {
    display: none;
}

.main-forms {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.main-forms__campos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.main-forms__campos_inst {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 0 2rem
}

.main-forms__campo_label {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-financeiro__select,
.main-financeiro__select_periodo,
.main-rotina__select {
    width: 100%;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: var(--sombra-primaria);
}

.main-forms__campo_input {
    width: 90%;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: var(--sombra-primaria);
}


.main-forms__campos_campo_periodo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-forms__campos_campo_checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-forms__periodo_campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-forms__periodo_input {
    width: 40%;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: var(--sombra-primaria);
}

.main-forms__botoes {
    display: flex;
    gap: 4rem;
}

.main-forms__botoes_botao,
.main-forms__botoes_botao_cancel,
.main-forms__botoes_botao_cancel_inst {
    width: 10rem;
    padding: 0.3rem;
    border-radius: 15px;
    box-shadow: var(--sombra-primaria);
    background: var(--cor-detalhes-primaria);
    color: var(--cor-fonte-secundaria);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main-forms__botoes_botao_cancel,
.main-forms__botoes_botao_cancel_inst {
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
}

.main-forms__botoes_botao_cancel_inst {
    margin-right: 2rem;
}

.main-forms__campo_link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--cor-fonte-primaria);
}

.main-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.main-lista__item {
    list-style: none;
    width: 85%;
    border: 2px solid;
    border-radius: 20px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: var(--sombra-primaria);
}

.main-lista__titulo {
    font-size: 1.8rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 0.5rem;
}

.main-lista__subtitulo {
    display: flex;
    background: var(--cor-detalhes-primaria);
    border: 1px solid black;
    width: 100%;
    color: var(--cor-fonte-secundaria);
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
}

.main-lista__item__conteudo {
    display: flex;
    gap: 0.5rem;
}

.main-lista__imagens {
    margin-top: 0.8rem;
    margin-left: 0.5rem;
}

.main-lista__imagem {
    width: 150px;
}

.main-lista__descricao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    overflow: hidden; /* Oculta o texto que não cabe */
    text-overflow: ellipsis; /* Adiciona reticências no final */
}

.main-lista__descricao_paragrafo_descr {
    font-size: 1rem;
}

.main-lista__descricao_paragrafo_tel {
    font-size: 1rem;
}

.main-forms__campos_campo_valor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main-forms__valor_dif {
    margin-top: 1rem;
}

.main-forms__valor_label {
    font-size: 1.3rem;
    font-weight: bold;
}

.main-forms__valor_label_checkbox {
    font-size: 1rem;
    font-weight: bold;
}

.main-forms__campos_campo_sequencia {
    width: 90%;
}

.main-forms__sequencia_paragrafo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main-forms__sequencia_itens {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 50%;
}

.main-forms__sequencia_itens_item {
    display: flex;
    justify-content: space-between;
}

.main-forms__sequencia_perso_itens {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.main-forms__sequencia_perso_itens_item {
    display: flex;
    gap: 0.3rem;
}

.main-forms__sequencia_label {
    font-size: 1.05rem;
    font-weight: bold;
}

.main-forms__sequencia_datafinal_hidden {
    display: none;
    margin-top: 1rem;
}

.main-forms__sequencia_datafinal {
    display: block;
    margin-top: 1rem;
}

.main-forms__label_diasemana {
    font-weight: bold;
}

.main-forms__label_repeticao{
    color: var(--cor-fonte-terciaria);
    font-weight: bold;
}

.main-lista__botoes {
    grid-area: botoes;
}

.main-lista__botoes_botao {
    background: var(--cor-detalhes-primaria);
    border: 1px solid black;
    color: var(--cor-fonte-secundaria);
    font-weight: bold;
    border-radius: 10px;
    padding: 0.2rem 0.35rem;
    margin: 0 0 0.5rem 0.5rem;
}

.main-config__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main-config__botoes_link {
    text-decoration: none;
}

.main-config__botoes_botao {
    text-decoration: none;
    background: var(--cor-detalhes-primaria);
    border: 2px solid black;
    color: var(--cor-fonte-secundaria);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    width: 75%;
    padding: 1.5rem;
    box-shadow: var(--sombra-primaria);
    text-align: center;
    -webkit-text-stroke: 0.75px black;
}

.main-tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}

.main-tabela__cabecalho {
    padding: 10px;
    border: 2px solid var(--cor-fonte-primaria);
    font-size: 1.6rem;
}

.main-tabela__conteudo {
    padding: 10px;
    border: 2px solid var(--cor-fonte-primaria);
}

.main-tabela__edit_botoes {
    border: none;
}

.main-tabela__link {
    text-decoration: none;
}

.main-tabela__texto_tipo {
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.main-tabela__link--delete {
    color: var(--cor-fonte-terciaria);
}

.main-tabela__botoes {
    width: 45px;
}

.main-botao__novos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-novo__tipo_link,
.main-novo__tipo_link_config,
.main-novo__tipo_link_config_cat {
    width: 60%;
    align-self: center;
    justify-self: center;
}

.main-novo__tipo_link_config {
    margin-left: 7rem;
}

.main-novo__tipo_link_config_cat {
    margin-left: 2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.main-novo__tipo_link__nova_inst {
    width: 60%;
    align-self: center;
    justify-self: center;
    margin-bottom: 1rem;
    margin-left: 7rem;
}

.main-novo__tipo {
    width: 60%;
    background: var(--cor-detalhes-primaria);
    color: var(--cor-fonte-secundaria);
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    padding: 0.5rem;
    margin-top: 2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
  }
  
  .modal-content {
    background-color: var(--cor-primaria);
    border-radius: 20px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .bt-modal {
    background-color: var(--cor-detalhes-primaria);
    border-radius: 20px;
    color: var(--cor-fonte-secundaria);
    font-weight: bold;
    padding: 1%;
    border: 1px solid black;
  }

  .txt-modal {
    font-weight: bold;
    margin-bottom: 1rem;
    box-shadow: var(--sombra-primaria);
  }

.link_cancelar_edit_atividade {
    text-decoration: none;
    text-align: center;
  }

.div_cancelar {
    border: 2px solid black;
  }

.hidden_edit {
    display: none;
  }

  .main-login__link {
    text-decoration: none;
    color: var(--cor-fonte-terciaria);
    font-weight: bold;
  }

.main-calendario__opcoes {
    position: absolute;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    right: 0.5rem;
    top: 16.5rem;
    padding: 0.5rem;
}

.main-calendario__agenda {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 1rem;
}

.main-agenda {
    display: flex;
    gap: 0.5rem;
}

.main-agenda__dia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50%;
    border-radius: 100%;
    padding: 0.65rem;
    font-weight: bold;
    
}

.main-agenda__atividades {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-agenda__atividades_atividade {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    width: 18.5rem;
    background-color: var(--cor-detalhes-primaria);
    color: var(--cor-fonte-secundaria);
    -webkit-text-stroke: 0.25px black;
}

.main-agenda__atividade_titulo {
    font-weight: bold;
    font-size: 1.1rem;
}

.main-agenda__atividade_periodo {
    font-weight: bold;
}

.main-calendario__dia, .main-calendario__semana {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    margin-right: 1rem;
}

.main-dia__cabecalho {
    margin: 4rem 0 0 1rem;
    display: grid;
    grid-template-areas: 
        'espaco espaco data'
        'navegacao navegacao navegacao';
    row-gap: 1.5rem;
}

.main-dia__navegacao {
    display: flex;
    justify-content: space-between;
}

.main-dia__navegacao {
    grid-area: navegacao;
}

.main-dia__cabecalho_data {
    grid-area: data;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0.25rem;
}

.main-dia__botao, .main-semana__botao {
    border: none;
    background-color: transparent;
}

.main-tabela__dia, .main-tabela__semana {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.main-tabela__dia__hora {
    width: 17%;
    text-align: right;
    padding-right: 0.5rem;
    padding-top: 2rem;
}

.main-tabela-dia__conteudo {
    width: 90%;
    text-align: center;
    border: 1px solid black;
    position: relative;
}

.main-tabela-dia__conteudo_zero {
    width: 90%;
    text-align: center;
    border: none;
    position: relative;
}

.main-semana__cabecalho {
    margin: 4rem 0 0 1rem;
    display: flex;
    justify-content: space-between;
}

.main-tabela__semana_cabecalho {
    text-align: center;
    font-weight: bold;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.main-tabela-dia__conteudo_atividade {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    background-color: var(--cor-detalhes-primaria);
    color: var(--cor-fonte-secundaria);
    -webkit-text-stroke: 0.25px black;
    position: absolute;
    top: 100%; /* Posição do div em relação ao contêiner */
    left: 0;
    overflow: hidden; /* Oculta o texto que não cabe */
    text-overflow: ellipsis; /* Adiciona reticências no final */
    z-index: 1;
}

.dia-conteudo__tamanho-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.dia-conteudo__tamanho-2 {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}

.dia-conteudo__tamanho-3 {
    padding-top: 3.55rem;
    padding-bottom: 3.55rem;
}

.dia-conteudo__tamanho-4 {
    padding-top: 5.20rem;
    padding-bottom: 5.20rem;
}

.dia-conteudo__tamanho-5 {
    padding-top: 6.85rem;
    padding-bottom: 6.85rem;
}

.dia-conteudo__tamanho-6 {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}

.dia-conteudo__tamanho-7 {
    padding-top: 10.15rem;
    padding-bottom: 10.15rem;
}

.dia-conteudo__tamanho-8 {
    padding-top: 11.8rem;
    padding-bottom: 11.8rem;
}

.dia-conteudo__tamanho-9 {
    padding-top: 13.45rem;
    padding-bottom: 13.45rem;
}

.dia-conteudo__tamanho-10 {
    padding-top: 15.10rem;
    padding-bottom: 15.10rem;
}

.dia-conteudo__tamanho-11 {
    padding-top: 16.75rem;
    padding-bottom: 16.75rem;
}

.dia-conteudo__tamanho-12 {
    padding-top: 18.4rem;
    padding-bottom: 18.4rem;
}

.dia-conteudo__tamanho-13 {
    padding-top: 20.05rem;
    padding-bottom: 20.05rem;
}

.dia-conteudo__tamanho-14 {
    padding-top: 21.70rem;
    padding-bottom: 21.70rem;
}

.dia-conteudo__tamanho-15 {
    padding-top: 23.35rem;
    padding-bottom: 23.35rem;
}

.dia-conteudo__tamanho-16 {
    padding-top: 25rem;
    padding-bottom: 25rem;
}

.dia-conteudo__tamanho-17 {
    padding-top: 26.65rem;
    padding-bottom: 26.65rem;
}

.dia-conteudo__tamanho-18 {
    padding-top: 28.3rem;
    padding-bottom: 28.3rem;
}

.dia-conteudo__tamanho-19 {
    padding-top: 29.95rem;
    padding-bottom: 29.95rem;
}

.dia-conteudo__tamanho-20 {
    padding-top: 31.6rem;
    padding-bottom: 31.6rem;
}

.dia-conteudo__tamanho-21 {
    padding-top: 33.25rem;
    padding-bottom: 33.25rem;
}

.dia-conteudo__tamanho-22 {
    padding-top: 34.90rem;
    padding-bottom: 34,90rem;
}

.dia-conteudo__tamanho-23 {
    padding-top: 36.55rem;
    padding-bottom: 36.55rem;
}

.dia-conteudo__tamanho-24 {
    padding-top: 38.2rem;
    padding-bottom: 38.2rem;
}

.semana-conteudo__tamanho-1 {
    height: 102%;
}

.semana-conteudo__tamanho-2 {
    height: 204%;
}

.semana-conteudo__tamanho-3 {
    height: 306%;
}

.semana-conteudo__tamanho-4 {
    height: 408%;
}

.semana-conteudo__tamanho-5 {
    height: 510%;
}

.semana-conteudo__tamanho-6 {
    height: 612%;
}

.semana-conteudo__tamanho-7 {
    height: 714%;
}

.semana-conteudo__tamanho-8 {
    height: 816%;
}

.semana-conteudo__tamanho-9 {
    height: 918%;
}

.semana-conteudo__tamanho-10 {
    height: 1020%;
}

.semana-conteudo__tamanho-11 {
    height: 1122%;
}

.semana-conteudo__tamanho-12 {
    height: 1224%;
}

.semana-conteudo__tamanho-13 {
    height: 1326%;
}

.semana-conteudo__tamanho-14 {
    height: 1428%;
}

.semana-conteudo__tamanho-15 {
    height: 1530%;
}

.semana-conteudo__tamanho-16 {
    height: 1632%;
}

.semana-conteudo__tamanho-17 {
    height: 1734%;
}

.semana-conteudo__tamanho-18 {
    height: 1836%;
}

.semana-conteudo__tamanho-19 {
    height: 1938%;
}

.semana-conteudo__tamanho-20 {
    height: 2040%;
}

.semana-conteudo__tamanho-21 {
    height: 2142%;
}

.semana-conteudo__tamanho-22 {
    height: 2244%;
}

.semana-conteudo__tamanho-23 {
    height: 2346%;
}

.semana-conteudo__tamanho-24 {
    height: 2448%;
}

.main-tabela__semana__hora {
    text-align: right;
    padding-right: 0.5rem;
    padding-top: 2rem;
    font-size: 0.95rem;
}

.main-tabela-semana__conteudo {
    width: 12.5%;
    border: 1px solid black;
    position: relative;
}

.main-tabela-semana__conteudo_zero {
    width: 12.5%;
    height: 1px;
    border: none;
    position: relative;
}

.display {
    display: none;
}

.main-agenda__cabecalho_titulo {
    font-size: 1.8rem;
}

.main-tabela-semana__conteudo_atividade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 3.1rem;
    background-color: var(--cor-detalhes-primaria);
    color: var(--cor-fonte-secundaria);
    -webkit-text-stroke: 0.25px black;
    position: absolute;
    top: 100%; /* Posição do div em relação ao contêiner */
    overflow: hidden; /* Oculta o texto que não cabe */
    text-overflow: ellipsis; /* Adiciona reticências no final */
    z-index: 1;
}

.main-show__atividade {
    margin-top: 1rem;
    display: flex;
}

.main-show__atividade__imagens {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-left: 2rem;
    align-items: baseline;
}

.main-show__atividade__imagem__foto {
    display: none;
    width: 80%;
    border-radius: 15px;
    box-shadow: var(--sombra-primaria);
    margin: 0.5rem 0 0 0.5rem;
}

.main-show__atividade__imagem__icone {
    display: none;
    width: 80%;
    border-radius: 15px;
    box-shadow: var(--sombra-primaria);
    margin: 0.5rem 0 0 0.5rem;
}

.main-show__atividade__campos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 7rem;
    margin-top: 1.5rem;
}

.main-show__atividade__campo {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: baseline;
    width: 130%;
    border-bottom: 0.5px solid gray;
    padding-bottom: 0.75rem;
}

.main-show__atividade__titulo {
    font-size: 1.3rem;
    box-shadow: var(--sombra-primaria);
    margin-left: 0.5rem;
}

.main-show__atividade__texto {
    font-size: 1rem;
    font-weight: 450;
    padding: 0.4rem;
    margin-right: 0.5rem;
    box-shadow: var(--sombra-primaria);
}

.main-show__atividade__campo__obs {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: baseline;
    width: 130%;
    border-bottom: 0.5px solid gray;
    padding-bottom: 3.75rem;
}

.main-show__atividade__textarea {
    width: 250px;
    font-size: 0.9rem;
    padding: 0.4rem;
    margin-right: 0.5rem;
    box-shadow: var(--sombra-primaria);
    word-wrap: break-word; /* Permite que palavras longas quebrem */
    overflow-wrap: break-word; /* Para suportar navegadores mais novos */
}

.main-show__atividade__botoes {
    display: flex;
    gap: 2.5rem;
    box-shadow: var(--sombra-primaria);
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.main-show__atividade__botoes_botao,
.main-show__atividade__botoes_botao_delAtiv {
    width: 10rem;
    padding: 0.3rem;
    border-radius: 15px;
    box-shadow: var(--sombra-primaria);
    background: var(--cor-detalhes-primaria);
    color: var(--cor-fonte-secundaria);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.main-show__atividade__botoes_botao_delAtiv {
    margin-right: 2rem;
}

.main-lista__link {
    text-decoration: none;
}

.color_white {
    visibility: hidden;
}

.tabela-zero {
    border: none;
}

.main-forms__valor_checkbox {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    margin-left: 0.7rem;
}

.main-forms__valor_checkbox_campo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-forms__valor_checkbox_campo_seq_perso {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.main-rotina__select_media {
    width: 65%;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: var(--sombra-primaria);
}

.main-financeiro,
.main-rotina {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.main-rotina {
    width: 100%;
}

.main-financeiro__periodo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main-financeiro__total {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
    margin-top: 3rem;
}

.main-rotina__periodo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main-rotina__total {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
    margin-top: 2rem;
}

.main-rotina__media {
    display: flex;    
    margin-top: 2rem;
    align-items: end;
    justify-content: space-between;
}

.main-financeiro__total_paragrafo,
.main-rotina__total_paragrafo {
    border: 1px solid black;
    background-color: white;
    text-align: right;
    border-radius: 10px;
    padding: 0.3rem;
}

.main-rotina__total_paragrafo {
    text-align: center;
}

.main-rotina__total_paragrafo {
    width: 10%;
    margin-left: 1rem;
}

.main-financeiro__media {
    display: flex;    
    margin-top: 1rem;
    align-items: end;
    justify-content: space-between;
}

.main-forms__campo_select_media,
.main-financeiro__grafico_select,
.main-financeiro__grafico_select_media,
.main-rotina__grafico_select {
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: var(--sombra-primaria);
}

.main-forms__campo_select_media {
    width: 40%;
}

.main-financeiro__grafico,
.main-rotina__grafico {
    border-top: 1px solid gray;
    margin-top: 2rem;
    padding-top: 2rem;
    display: grid;
    grid-template-areas: 
        'label campo'
        'grafico grafico';
    row-gap: 2rem;
    column-gap: 1rem;
}

.main-financeiro__grafico_label,
.main-rotina__grafico_label {
    grid-area: label;
    font-size: 1.3rem;
    font-weight: bold;
}

.main-financeiro__grafico_select,
.main-rotina__grafico_select {
    grid-area: campo;
}

.main-financeiro__grafico_grafico,
.main-rotina__grafico_grafico {
    grid-area: grafico;
    margin-top: 1rem;
}

.main-financeiro__label,
.main-rotina__label {
    font-size: 1.3rem;
    font-weight: bold;
}

.main-financeiro__select_periodo {
    width: 100%;
}

.main-financeiro__periodo_custom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 6%;
}

.main-rotina__periodo_custom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10.5%;
    right: 1%;
}

.main-financeiro__periodo_custom_campo,
.main-rotina__periodo_custom_campo {
    display: flex;
    gap: 0.5rem;
    align-items: end;
}

.main-financeiro__periodo_custom_label,
.main-rotina__periodo_custom_label {
    font-size: 1rem;
    font-weight: bold;
}

.main-financeiro__input,
.main-rotina__input {
    height: 75%;
    width: 75%;
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: var(--sombra-primaria);
}

.main-financeiro__btn,
.main-rotina__btn {
    border: none;
    background-color: transparent;
}

@media screen and (min-width:1200px){

    .main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 1rem 2rem 0;
        align-items: center;
    }

    .main-titulo, .main-titulo_calendario {
        display: block;
        font-size: 3rem;
        color: var(--cor-fonte-terciaria);
        -webkit-text-stroke: 1px var(--cor-fonte-primaria);
        box-shadow: var(--sombra-primaria);
    }

    .main-titulo_calendario {
        align-self: flex-start;
        margin-left: 10rem;
    }

    .main-lista {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .main-lista__item {
        width: 25rem;
        height: 18rem;
    }

    .main-forms__campos_campo_sequencia {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%;   
        margin-right: 2rem;
    }

    .main-config__botoes {
        margin-top: 2rem;
        gap: 4rem; 
    }

    .main-calendario__agenda {
        width: 40rem;
    }

    .main-calendario__dia, .main-calendario__semana {
        width: 55rem;
    }

    .main-titulo_calendario {
        text-align: left;
    }

    .main-calendario__opcoes {
        width: 20%;
        right: 5rem;
        top: 20.25rem;
        padding: 0.5rem;
        margin-top: 2rem;
    }

    .main-agenda {
        width: 100%;
        gap: 3rem;
        margin-top: 2rem;
    }
    
    .main-agenda__atividades {
        width: 100%;
    }
    
    .main-agenda__atividades_atividade {
        width: 100%;
    }

    .main-agenda__atividade_titulo {
        font-size: 1.3rem;
    }

    .main-agenda__atividade_sequencia {
        font-size: 1rem;
    }
    
    .main-agenda__atividade_periodo{ 
        font-size: 1.2rem;
    }
    
    .main-dia__cabecalho, .main-semana__cabecalho {
        margin: 1rem 0 0 1rem;
    }

    .main-tabela__semana_cabecalho {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
    }

    .main-tabela__dia__hora {
        width: 6%;
    }

    .main-tabela-dia__conteudo_atividade {
        width: 50%;
    }

    .main-tabela-semana__conteudo_atividade {
        width: 6.8rem;
    }

    .main-semana__cabecalho_titulo {
        font-size: 1.5rem;
    }

    .main-agenda__cabecalho_titulo {
        font-size: 1.75rem;
        text-align: center;
    }

    .main-show__atividade__imagem__foto {
        display: block;
    }

    .main-show__atividade__imagem__icone{
        display: block;
    }

    .main-show__atividade__campos {
        margin-right: 10rem;
        margin-top: 0.5rem;
    }

    .main-show__atividade__botoes {
        gap: 12.5rem;
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .main-show__atividade__botoes_botao,
    .main-show__atividade__botoes_botao_delAtiv {
        width: 12.5rem;
        padding: 0.4rem;
        margin-bottom: 2rem;
    }

    .main-show__atividade__botoes_botao_delAtiv {
        margin-right: 0;
    }

    .main-financeiro {
        width: 50rem;
        margin: 2rem 0.5rem 0 0.5rem;
    }

    .main-financeiro__total,
    .main-financeiro__media,
    .main-rotina__total,
    .main-rotina__media {
        border-top: 0.5px solid gray;
        padding-top: 2rem;
    }

    .main-financeiro__total {
        padding-bottom: 1rem;
    }

    .main-financeiro__periodo,
    .main-rotina__periodo {
        padding-top: 1rem;
    }

    .main-rotina__total,
    .main-rotina__media,
    .main-rotina__periodo,
    .main-rotina__grafico {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-financeiro__total_paragrafo {
        width: 25%;
    }

    .main-financeiro__periodo_custom {
        top: 7%;
        gap: 10rem;
        margin-left: 10rem;
    }

    .main-rotina__periodo_custom {
        top: 9%;
        gap: 10rem;
        margin-right: 15rem;
    }

    .main-financeiro__grafico {
        padding-bottom: 2rem;
    }

    .main-novo__tipo_link {
        margin-left: 8rem;
    }

    .main-novo__tipo_link__nova_inst {
        margin: 0 0 0 20rem;
    }

    .main-forms__campo_input {
    width: 100%;
    }

    .main-forms__campos_inst {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .main-novo__tipo_link_config,
    .main-novo__tipo_link_config_cat {
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .main-tabela__texto_tipo {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

}