{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <h2 class="main-titulo">CPAS</h2>
        <ul class="main-lista">
            {% for atividade in atividades %}
            <li class="main-lista__item">
                <div class="main-lista__item__cabecalho">
                    <h2 class="main-lista__titulo">{{atividade.periodo}}</h2>
                    <div class="main-lista__subtitulo">
                        <p class="main-lista__subtitulo_paragrafo">{{atividade.data}} – </p>
                        <p class="main-lista__subtitulo_paragrafo">{{atividade.dia_semana}}</p>
                    </div>
                </div>
                <div class="main-lista__item__conteudo">
                    <div class="main-lista__imagens">
                        {% if atividade.imagem_url %}
                            <a class="main-lista__link" href="{% url 'atividade' atividade.id %}">
                                <img class="main-lista__imagem" src="{{atividade.imagem_url}}" alt="Imagem da Instituição onde será a atividade">
                            </a>
                        {% else %}
                            <a class="main-lista__link" href="{% url 'atividade' atividade.id %}">
                                <img class="main-lista__imagem" src="{% static 'assets/icones/instituicao.png' %}" alt="Imagem Padrão de Hospital">
                            </a>
                        {% endif %}
                    </div>
                    <div class="main-lista__descricao">
                        <p class="main-lista__descricao_paragrafo"><strong>Inst: </strong>{{atividade.inst}}</p>
                        <p class="main-lista__descricao_paragrafo_descr"><strong>Desc: </strong>{{atividade.descricao}}</p>
                        <p class="main-lista__descricao_paragrafo_descr"><strong>Obs: </strong>{{atividade.obs}}</p>    
                        <input type="hidden" id="id_atividade" value="{{atividade.id}}">
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}