{% extends 'partials/base.html' %}
{% load static %}
    {% block content %}
    <main class="main">
        <h2 class="main-titulo">Tipos de Categoria</h2>
        <table class="main-tabela" border="1">
            <thead>
                <tr>
                    <th class="main-tabela__cabecalho">Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td class="main-tabela__conteudo">{{categoria.nome_categoria}}</td>
                    <td class="main-tabela__edit_botoes">
                        <a  class="main-tabela__link" href="{% url 'editar_categoria' categoria.id %}">
                            <p class="main-tabela__texto">Edit</p>
                        </a>
                    </td>
                    <td class="main-tabela__edit_botoes">
                        <a  class="main-tabela__link main-tabela__link--delete" href="{% url 'deletar_categoria' categoria.id %}">
                            <p class="main-tabela__texto">Del</p>
                        </a>
                    </td>
                </tr>
                {% endfor %}                        
        </table>
        <a class="main-novo__tipo_link_config_cat" href="{% url 'nova_categoria' %}"><button class="main-novo__tipo">Nova Categoria</button></a>
    </main>
    {% endblock %}