{% extends 'partials/base.html' %}
{% load static %}
    {% block content %}
    <main class="main">
        <h2 class="main-titulo">Editar Preferências</h2>
        <form class="main-forms" action="{% url 'editar_preferencias' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="main-forms__campos">
                {% for field in forms %}
                <div class="main-forms__campos_campo">
                    <label for="instituicao" class="main-forms__campo_label">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
            <div class="main-forms__botoes">
                <button class="main-forms__botoes_botao" type="submit">EDITAR</button>
                <a class="main-forms__botoes_botao_cancel" href="{% url 'preferencias' %}">CANCELAR</a>
            </div>
        </form>
    </main>
    {% endblock %}