{% extends 'partials/base.html' %}
{% load static %}
    {% block content %}
    <main class="main">
        <h2 class="main-titulo">CPAS</h2>
        <ul class="main-lista">
            <li class="main-lista__item">
                <h2 class="main-lista__titulo">07h00m às 19h00m</h2>
                <div class="main-lista__subtitulo">
                    <p class="main-lista__subtitulo_paragrafo">Terça-Feira –</p>
                    <p class="main-lista__subtitulo_paragrafo">16/07/2024</p>
                </div>
                <img class="main-lista__imagem" src="{% static 'assets/icones/hospital.png' %}" alt="Imagem Padrão de Hospital">
                <div class="main-lista__descricao">
                    <p class="main-lista__descricao_paragrafo"><strong>Inst:</strong> Complexo Hospital dos Estivadores</p>
                    <p class="main-lista__descricao_paragrafo"><strong>Tipo:</strong> Plantão</p>
                    <p class="main-lista__descricao_paragrafo"><strong>Período:</strong> 12hrs</p>
                </div>
                <div class="main-lista__botoes">
                    <button class="main-lista__botoes_botao">EDIT</button>
                    <button class="main-lista__botoes_botao">DEL</button>
                </div>
            </li>
            <li class="main-lista__item">
                <h2 class="main-lista__titulo">07h00m às 11h00m</h2>
                <div class="main-lista__subtitulo">
                    <p class="main-lista__subtitulo_paragrafo">Quarta-Feira –</p>
                    <p class="main-lista__subtitulo_paragrafo">17/07/2024</p>
                </div>
                <img class="main-lista__imagem" src="{% static 'assets/icones/hospital.png' %}" alt="Imagem Padrão de Hospital">
                <div class="main-lista__descricao">
                    <p class="main-lista__descricao_paragrafo"><strong>Inst:</strong> UNAERP</p>
                    <p class="main-lista__descricao_paragrafo"><strong>Tipo:</strong> Aula</p>
                    <p class="main-lista__descricao_paragrafo"><strong>Período:</strong> 4hrs</p>
                </div>
                <div class="main-lista__botoes">
                    <button class="main-lista__botoes_botao">EDIT</button>
                    <button class="main-lista__botoes_botao">DEL</button>
                </div>
            </li>
        </ul>
    </main>
    {% endblock %}
    