{% extends 'partials/base.html' %}
{% load static %}
    {% block content %}
    <main class="main">
        <h2 class="main-titulo">Instituições</h2>
       <ul class="main-lista">
        {% for instituicao in instituicoes %}
            <li class="main-lista__item">
                <div class="main-lista__item__cabecalho">
                    {% if instituicao.nome_curto %}
                        <h2 class="main-lista__titulo">{{instituicao.nome_curto}}</h2>
                    {% else %}    
                        <h2 class="main-lista__titulo">{{instituicao.nome_inst|slice:":25"}}</h2>
                    {% endif %}
                    <div class="main-lista__subtitulo">
                        <p class="main-lista__subtitulo_paragrafo">---</p>
                    </div>
                </div>
                <div class="main-lista__item__conteudo">
                    {% if instituicao.imagem %}
                        <div class="main-lista__imagens">
                            <a class="main-lista__link" href="{% url 'instituicao' instituicao.id %}">
                                <img class="main-lista__imagem" src="{{ instituicao.imagem.url }}" alt="Imagem da Instituição">
                            </a>
                        </div>
                    {% else %}
                        <div class="main-lista__imagens">
                            <a class="main-lista__link" href="{% url 'instituicao' instituicao.id %}">
                                <img class="main-lista__imagem" src="{% static 'assets/icones/hospital.png' %}" alt="Imagem Padrão de Hospital">
                            </a>
                        </div>
                    {% endif %}
                    <div class="main-lista__descricao">
                        <p class="main-lista__descricao_paragrafo"><strong>Endereço: </strong> {{instituicao.endereco}}</p>
                        <p class="main-lista__descricao_paragrafo_tel"><strong>Telefone: </strong> {{instituicao.telefone}}</p>
                        <p class="main-lista__descricao_paragrafo_tel"><strong>Contato: </strong> {{instituicao.contato}}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
        <div class="main-botao__novos">
            <a class="main-novo__tipo_link__nova_inst" href="{% url 'nova_instituicao' %}"><button class="main-novo__tipo">Nova Instituição</button></a>
        </div>
    </main>
    {% endblock %}