{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <h2 class="main-titulo">Instituição</h2>
        <div class="main-show__atividade">
            {% for item, instituicao in instituicoes.items %}
                <div class="main-show__atividade__imagens">
                    <div class="main-show__atividade__imagem">
                        {% if instituicao.imagem %}
                            <img class="main-show__atividade__imagem__foto" src="{{instituicao.imagem}}" alt="Imagem da Instituição onde será a atividade">
                        {% else %}
                            <img class="main-show__atividade__imagem__icone" src="{% static 'assets/icones/instituicao.png' %}" alt="Imagem Padrão de Hospital">
                        {% endif %}
                    </div>
                </div>
                <div class="main-show__atividade__campos">
                    <div class="main-show__atividade__campo">
                        <h2 class="main-show__atividade__titulo">Nome Completo:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.nome_inst}}</p>
                    </div>
                    <div class="main-show__atividade__campo">
                        <h2 class="main-show__atividade__titulo">Nome Curto:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.nome_curto}}</p>
                    </div>
                    <div class="main-show__atividade__campo">
                        <h2 class="main-show__atividade__titulo">Fixo Mensal:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.fixo_mensal}}</p>
                    </div>
                    {% if instituicao.valor_fixo %}
                    <div class="main-show__atividade__campo">
                        <h2 class="main-show__atividade__titulo">Valor Fixo:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.valor_fixo}}</p>
                    </div>
                    {% endif %}
                    <div class="main-show__atividade__campo__obs">
                        <h2 class="main-show__atividade__titulo">Endereço:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.endereco}}</p>
                    </div>
                    <div class="main-show__atividade__campo">
                        <h2 class="main-show__atividade__titulo">Telefona:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.telefone}}</p>
                    </div>
                    <div class="main-show__atividade__campo">
                        <h2 class="main-show__atividade__titulo">Contato:</h2>
                        <p class="main-show__atividade__texto">{{instituicao.contato}}</p>
                    </div>
                </div>
            </div>
            <div class="main-show__atividade__botoes">
                <a class="main-novo__tipo_link" href="{% url 'editar_instituicao' instituicao.id %}"><button class="main-show__atividade__botoes_botao">EDITAR</button></a>
                <a class="main-novo__tipo_link" href="{% url 'deletar_instituicao' instituicao.id %}"><button class="main-show__atividade__botoes_botao">DELETAR</button></a>
            </div>
        {% endfor %}
    </main>
{% endblock %}