{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <h2 class="main-titulo">Preferências</h2>
        <div class="main-show__atividade">
            <div class="main-show__atividade__campos">
                <div class="main-show__atividade__campo">
                    <h2 class="main-show__atividade__titulo">Horas de Sono Ideais:</h2>
                    <p class="main-show__atividade__texto">{{preferencias.horas_sono}}</p>
                </div>
                <div class="main-show__atividade__campo">
                    <h2 class="main-show__atividade__titulo">Tipo de Gráfico:</h2>
                    <p class="main-show__atividade__texto">{{preferencias.tipo_grafico}}</p>
                </div>
                <div class="main-show__atividade__campo">
                    <h2 class="main-show__atividade__titulo">Semana deve iniciar em:</h2>
                    <p class="main-show__atividade__texto">{{preferencias.inicio_semana}}</p>
                </div>
                <div class="main-show__atividade__campo">
                    <h2 class="main-show__atividade__titulo">Horário para envio das tarefas diárias:</h2>
                    <p class="main-show__atividade__texto">{{preferencias.hora_envio_tarefas}}</p>
                </div>
            </div>
        </div>
        <div class="main-show__atividade__botoes">
            <a class="main-novo__tipo_link_config" href="{% url 'editar_preferencias' %}"><button class="main-show__atividade__botoes_botao">EDITAR</button></a>
        </div>
    </main>
{% endblock %}