{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <h2 class="main-titulo">Rotina</h2>
        <div class="main-rotina">
            <div class="main-rotina__periodo">
                <label class="main-rotina__label">Período:</label>
                <select class="main-rotina__select" name="periodo_rotina" id="periodo_rotina">
                    <option value="1">Por mes</option>
                    <option value="2">Por ano</option>
                    <option value="3">Até fim do mes</option>
                    <option value="4">Até fim do ano</option>
                    <option value="5">Todo Período</option>
                    <option value="6">Personalizado</option>
                </select>
                <select class="main-rotina__select" name="mes_rotina" id="mes_rotina">
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
                <select class="main-rotina__select hidden_edit" name="ano_rotina" id="ano_rotina">
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
                <button class="main-rotina__btn" id="btn_rotina_filter"><i class="fas fa-filter"></i></button>
            </div>
            <div class="hidden_edit" id="periodo_rotina_custom">
                <div class="main-rotina__periodo_custom_campo">
                    <label for="date_periodo_inicio_rotina" class="main-rotina__periodo_custom_label">De:</label>
                    <input type="date" class="main-rotina__input" id="date_periodo_inicio_rotina">
                </div>
                <div class="main-rotina__periodo_custom_campo">
                    <label for="date_periodo_final_rotina" class="main-rotina__periodo_custom_label">Até:</label>
                    <input type="date" class="main-rotina__input" id="date_periodo_final_rotina">
                </div>
            </div>
            <div class="main-rotina__total">
                <p class="main-rotina__label">Quantidade de Atividades:</p>
                <p class="main-rotina__total_paragrafo">6</p>
            </div>
            <div class="main-rotina__total">
                <p class="main-rotina__label">Horas de Atividade:</p>
                <p class="main-rotina__total_paragrafo">64</p>
            </div>
            <div class="main-rotina__total">
                <p class="main-rotina__label">Horas Livres:</p>
                <p class="main-rotina__total_paragrafo">30</p>
            </div>
            <div class="main-rotina__media">
                <p class="main-rotina__label">Média:</p>
                <select class="main-rotina__select_media" name="media" id="media">
                    <option value="1">De Horas Trabalhadas Por Semana</option>
                    <option value="2">De Horas Livres Por Semana</option>
                    <option value="3">De Horas Trabalhadas Por Dia</option>
                    <option value="4">De Horas Livres Por Dia</option>
                    <option value="5">De Horas Por Atividade</option>
                </select>
                <p class="main-rotina__total_paragrafo">50</p>
            </div>
            <div class="main-rotina__grafico">
                <p class="main-rotina__label">Total por:</p>
                <select class="main-rotina__grafico_select" name="grafico_select_rotina" id="grafico_select_rotina">
                    <option value="1">Remuneração</option>
                    <option value="2">Tipo de Atividade</option>
                    <option value="3">Categoria de Atividade</option>
                </select>
                <canvas class="main-rotina__grafico_grafico" id="grafico_rotina"></canvas>
            </div>
        </div>
    </main>
{% endblock %}