{% extends 'partials/base.html' %}
{% load static %}
    {% block content %}
    <main class="main">
        <h2 class="main-titulo">Tipos de Atividade</h2>
        <table class="main-tabela" border="1">
            <thead>
                <tr>
                    <th class="main-tabela__cabecalho">Tipo</th>
                    <th class="main-tabela__cabecalho">Horas</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo in tipos %}
                <tr>
                    <td class="main-tabela__conteudo">{{tipo.nome_tipo}}</td>
                    <td class="main-tabela__conteudo">{{tipo.horas}}</td>
                    <td class="main-tabela__edit_botoes">
                        <a  class="main-tabela__link" href="{% url 'editar_tipo' tipo.id %}">
                            <p class="main-tabela__texto">Edit</p>
                        </a>
                    </td>
                    <td class="main-tabela__edit_botoes">
                        <a  class="main-tabela__link main-tabela__link--delete" href="{% url 'deletar_tipo' tipo.id %}">
                            <p class="main-tabela__texto">Del</p>
                        </a>
                    </td>
                </tr>
                {% endfor %}                        
        </table>
        <a class="main-novo__tipo_link" href="{% url 'novo_tipo' %}"><button class="main-novo__tipo">Novo Tipo</button></a>
    </main>
    {% endblock %}